/* * {
    padding: 0;
    margin: 0;
} */


/* .navbar {
    height: 1em;
} */


/* .nav-item {
    border-radius: 12px;
    text-align: center;
} */


/* .navbar a {
    text-decoration: none;
    color: black;
    font-size: 12px;
} */

.sombra:hover {
    background-color: #212529;
    /*box-shadow: 5px -1px 5px 10px #13151827;*/
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.2s;
}

#logo {
    width: 30%;
    height: auto;
    float: right;
    margin-top: 3em;
}

.Tarjeta {
    text-align: center;
    height: 300px;
    background-color: white;
}


/* Custom Scroll Bar*/

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}