/* * {
    padding: 0;
    margin: 0;
} */

/* .navbar {
    height: 1em;
} */

/* .nav-item {
    border-radius: 12px;
    text-align: center;
} */

/* .navbar a {
    text-decoration: none;
    color: black;
    font-size: 12px;
} */

#logo {
    width: 30px;
    height: 30px;
}

.Tarjeta {
    text-align: center;
    height: 300px;
    background-color: white;
}