* {
    margin: 0;
    padding: 0;
}

#logo {
    width: 30px;
    height: 30px;
}

.container div textarea {
    resize: none;
}

form {
    margin: 7em;
    background: linear-gradient(90deg, #7d848c00, #343a4044, #282d3100);
    border-radius: 20px;
}

form div {
    width: 50%;
    padding: 20px;
}

@media only screen and (max-width: 800px) {
    form div {
        width: 90%;
        padding: 20px;
    }
}