* {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 4em;
}

.nav-item {
    border-radius: 10px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

a:hover {
    color: rgb(138, 0, 0);
}

#logo {
    width: 30px;
    height: 30px;
}

#section {
    width: 100vw;
    height: 100vh;
}

#section2 {
    width: 100vw;
    height: 100vh;
}

#section div {
    height: 300px;
}

.Tarjeta {
    text-align: center;
}